In [ ]:
#import pandas as pd

In [13]:
import pandas as pd

In [14]:
#import and read csv

In [15]:
df = pd.read_csv(r"C:\Users\slysk\Desktop\DTA Assignment 1\CrimesOnWomenData.csv")

In [17]:
#to check if something is unusual
df.head()

               State  Year  Rape   K&A   DD   AoW   AoM    DV  WT
0     ANDHRA PRADESH  2001   871   765  420  3544  2271  5791   7
1  ARUNACHAL PRADESH  2001    33    55    0    78     3    11   0
2              ASSAM  2001   817  1070   59   850     4  1248   0
3              BIHAR  2001   888   518  859   562    21  1558  83
4       CHHATTISGARH  2001   959   171   70  1763   161   840   0

In [18]:
#to check if something is unusual
df.tail()

           State  Year  Rape   K&A   DD   AoW  AoM    DV  WT
731   D&N Haveli  2021  1250  4083  141  2068  417  4731   4
732  Daman & Diu  2021   315   904   16  1851   10   501   1
733     Delhi UT  2021     2     1    0     5    1     9   0
734  Lakshadweep  2021     0     0    0     1    1     3   0
735   Puducherry  2021     2     0    2    31    3    12   0

In [21]:
#Checking type of data types
df.dtypes

State    object
Year      int64
Rape      int64
K&A       int64
DD        int64
AoW       int64
AoM       int64
DV        int64
WT        int64
dtype: object

In [22]:
#checking for how many rows and columns there are
df.shape

(736, 9)

In [24]:
#Check Null Values
df.isnull().any()

State    False
Year     False
Rape     False
K&A      False
DD       False
AoW      False
AoM      False
DV       False
WT       False
dtype: bool

In [27]:
#Check for Duplicates
df.duplicated().any()

False